PORT=8080
MONGO_URL=
JWT_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PROJECT_NAME=CODE SYNC
FRONTEND_URL=http://localhost:3000

GMAIL_USER=
GMAIL_PASS=

GEMINI_API_KEY=

ONLINE_COMPILER_URL=

ONLINE_COMPILER_API_KEY=

ONE_COMPILER_API_KEY=